.inventory-list-item {
  list-style-type: none;
}
.inventory-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #cbd2d9;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.item-heading {
  font-family: 'Roboto';
  color: orangered;
  font-size: 17px;
}
.count-tab {
  background-color: orangered;
  border-radius: 60px;
  margin-left: 10px;
}
.items-count {
  font-family: 'Roboto';
  color: #fef2f4;
  font-size: 13px;
  align-self: center;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
.item-name-tab {
  display: flex;
  align-items: center;
}
.arrow-btn {
  background-color: transparent;
  border-width: 0px;
}
.Inventory-ul-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
